@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Light mode variables*/
  --lightbackground: #ffffff; 
  --lightforeground: #000000;
  --lightsecondary: #ff0000; 
  --lightaccent: #f87171; 
  --lightaccent-hover: #ef4444;
  --lightaccent-pressed: #dc2626;

  /*Dark mode variables*/
  --darkbackground: #000000; 
  --darkforeground: #ffffff; 
  --darkaccent:rgb(128, 17, 74); 
  --darkaccent-hover:rgb(108, 0, 45); 
  --darkaccent-pressed:rgb(165, 36, 118);
}

.dark {
  .dark\:dark-background {
    @apply bg-[--darkbackground] text-[--darkforeground];};
  }

.light-background {
  background: --lightbackground;
  color: --lightforeground;
}
.shadow-custom {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.h-sections {
  min-height: calc(100vh - 3.5rem);
}
.sections {
  height: calc(100vh - 3.5rem);
}
body {
  color: var(--lightforeground);
  background: var(--lightbackground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.custom-scrollbar {
  @apply [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
}