@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* white */ 
  --foreground: #000000; /* black */
}
.dark {
  .dark\:dark-background {
    @apply bg-[#22181C] text-[#ffffff];};
  }

.light-background {
  background: #F6E8EA;
  color: #000000;
}
.shadow-custom {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.h-sections {
  min-height: calc(100vh - 3.5rem);
}
.sections {
  height: calc(100vh - 3.5rem);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.custom-scrollbar {
  @apply [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
}